# Copyright (c) 2014 Sony Mobile Communications Inc.
#
# product specific configuration
#
import init.sony-device-common.rc

# charger
on property:persist.service.battery.charge=0
    write /sys/class/power_supply/battery/lrc_enable 0
    write /sys/class/power_supply/battery/lrc_socmax 0
    write /sys/class/power_supply/battery/lrc_socmin 0

on property:persist.service.battery.charge=1
    write /sys/class/power_supply/battery/lrc_socmax 60
    write /sys/class/power_supply/battery/lrc_socmin 40
    write /sys/class/power_supply/battery/lrc_enable 1

on post-fs-data
    # Fingerprint data folder
    mkdir /data/fpc 0770 system system

service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group drmrpc input system
